In [1]:
!pip install nba_api
!pip install pandas

from nba_api.stats.static import teams
import pandas as pd

# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()
teams_df = pd.DataFrame(nba_teams)
teams_df

Requirement already satisfied: nba_api in /Users/khangnguyen/anaconda3/lib/python3.11/site-packages (1.3.1)
Requirement already satisfied: certifi<2024.0.0,>=2022.12.7 in /Users/khangnguyen/anaconda3/lib/python3.11/site-packages (from nba_api) (2023.7.22)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in /Users/khangnguyen/anaconda3/lib/python3.11/site-packages (from nba_api) (1.24.3)
Requirement already satisfied: requests<3.0,>=2.31 in /Users/khangnguyen/anaconda3/lib/python3.11/site-packages (from nba_api) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/khangnguyen/anaconda3/lib/python3.11/site-packages (from requests<3.0,>=2.31->nba_api) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/khangnguyen/anaconda3/lib/python3.11/site-packages (from requests<3.0,>=2.31->nba_api) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/khangnguyen/anaconda3/lib/python3.11/site-packages (from requests<3.0,>=2.31->nba_api) (1.26.16)
Requirement already satisfied: pandas in /Users/khangnguyen/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/khangnguyen/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/khangnguyen/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/khangnguyen/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/khangnguyen/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/khangnguyen/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [2]:
HOST = "localhost"
USER = "root"
PASSWORD = "ZEr8BHwvs63yz+U"

In [9]:
### CREATING DB
# !pip install pymysql
import pymysql

# Replace with your MySQL connection details
connection = pymysql.connect(
    host=HOST,
    user=USER,
    password=PASSWORD
)

# Create a cursor
cursor = connection.cursor()

# # Create a new database and table 
# cursor.execute("CREATE DATABASE nba_db")
# cursor.execute("CREATE TABLE IF NOT EXISTS teams (id INT PRIMARY KEY, full_name VARCHAR(255), abbreviation VARCHAR(255), nickname VARCHAR(255), city VARCHAR(255), state VARCHAR(255), year_founded INT)")

# Insert DataFrame records into MySQL
# for i, row in teams_df.iterrows():
    # sql = "INSERT INTO teams (id, full_name, abbreviation, nickname, city, state, year_founded) VALUES (%s, %s, %s, %s, %s, %s, %s)"
    # cursor.execute(sql, tuple(row))
cursor.execute("SELECT * FROM nba_db.teams")

# Fetch all the records
results = cursor.fetchall()

# Get the column names
columns = [desc[0] for desc in cursor.description]

# Create a DataFrame
no_adv_stats_df = pd.DataFrame(results, columns=columns)

# Close the cursor and connection
cursor.close()
connection.close()

# Display the DataFrame
print(no_adv_stats_df)

            id               full_name abbreviation       nickname  \
0   1610612737           Atlanta Hawks          ATL          Hawks
1   1610612738          Boston Celtics          BOS        Celtics
2   1610612739     Cleveland Cavaliers          CLE      Cavaliers
3   1610612740    New Orleans Pelicans          NOP       Pelicans
4   1610612741           Chicago Bulls          CHI          Bulls
5   1610612742        Dallas Mavericks          DAL      Mavericks
6   1610612743          Denver Nuggets          DEN        Nuggets
7   1610612744   Golden State Warriors          GSW       Warriors
8   1610612745         Houston Rockets          HOU        Rockets
9   1610612746    Los Angeles Clippers          LAC       Clippers
10  1610612747      Los Angeles Lakers          LAL         Lakers
11  1610612748              Miami Heat          MIA           Heat
12  1610612749         Milwaukee Bucks          MIL          Bucks
13  1610612750  Minnesota Timberwolves          MIN   Timberwolves
14  1610612751           Brooklyn Nets          BKN           Nets
15  1610612752         New York Knicks          NYK         Knicks
16  1610612753           Orlando Magic          ORL          Magic
17  1610612754          Indiana Pacers          IND         Pacers
18  1610612755      Philadelphia 76ers          PHI          76ers
19  1610612756            Phoenix Suns          PHX           Suns
20  1610612757  Portland Trail Blazers          POR  Trail Blazers
21  1610612758        Sacramento Kings          SAC          Kings
22  1610612759       San Antonio Spurs          SAS          Spurs
23  1610612760   Oklahoma City Thunder          OKC        Thunder
24  1610612761         Toronto Raptors          TOR        Raptors
25  1610612762               Utah Jazz          UTA           Jazz
26  1610612763       Memphis Grizzlies          MEM      Grizzlies
27  1610612764      Washington Wizards          WAS        Wizards
28  1610612765         Detroit Pistons          DET        Pistons
29  1610612766       Charlotte Hornets          CHA        Hornets

             city                 state  year_founded
0         Atlanta               Georgia          1949
1          Boston         Massachusetts          1946
2       Cleveland                  Ohio          1970
3     New Orleans             Louisiana          2002
4         Chicago              Illinois          1966
5          Dallas                 Texas          1980
6          Denver              Colorado          1976
7    Golden State            California          1946
8         Houston                 Texas          1967
9     Los Angeles            California          1970
10    Los Angeles            California          1948
11          Miami               Florida          1988
12      Milwaukee             Wisconsin          1968
13      Minnesota             Minnesota          1989
14       Brooklyn              New York          1976
15       New York              New York          1946
16        Orlando               Florida          1989
17        Indiana               Indiana          1976
18   Philadelphia          Pennsylvania          1949
19        Phoenix               Arizona          1968
20       Portland                Oregon          1970
21     Sacramento            California          1948
22    San Antonio                 Texas          1976
23  Oklahoma City              Oklahoma          1967
24        Toronto               Ontario          1995
25           Utah                  Utah          1974
26        Memphis             Tennessee          1995
27     Washington  District of Columbia          1961
28        Detroit              Michigan          1948
29      Charlotte        North Carolina          1988